
<h2>Register New Land</h2>
<form id="registerForm" enctype="multipart/form-data" style="display: flex; justify-content: center; ">
  <label for="location" style="margin-bottom: -15px;">Location:</label>
  <input type="text" id="location" name="location" required />

  <label for="size" style="margin-bottom: -15px;">Size (sqft):</label>
  <input type="number" id="size" name="size" required />

  <label for="landDoc" style="margin-bottom: -15px;">Upload Land Document (PDF/Image):</label>
  <input type="file" id="landDoc" name="landDoc" required />

  <button type="submit">Register</button>
</form>

<p id="registerStatus"></p>



