<h2>View Land</h2>
<form id="viewForm">
  <label for="viewLandId" style="margin-bottom: -15px;">Enter Land ID:</label>
  <input type="number" id="viewLandId" name="viewLandId" required />
  <button type="submit">View</button>
</form>

<div id="landDetails"></div>



